<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
    <div class="container">
       <h2>Congrats on your new pet, {{petName}}!</h2>
       <p>Your purchase totaled ${{amount}}.</p>
       <p>You can come by on Thursday or Friday to pick {{petName}} up!</p>
       <p>Proud Pete's Pet Emporium thanks you!</p>
    </div>
</body>
</html>
